<h1>Add or update user profile data!</h1>

<%= form_for @user, html: {multipart: true} do |form| %>
  <%= form.text_field :first_name %><br>
  <%= form.label :first_name %><br><br>

  <%= form.text_field :last_name %><br>
  <%= form.label :last_name %><br><br>

  <%= form.file_field :image %><br>
  <p>Upload Profile Picture<p>

  <%= form.submit "Done" %>
<% end %>
