<h1>Welcome to MeBook!</h1>
<br><br>

  <div class="row">
  <%= form_for @post do |form| %>
    <%= form.text_field :content, placeholder: "What's on your mind...", :style => "line-height: 40px", :size => "80px" %>
    <br><br>
    <%= form.submit "Post" %>
  <% end %>
  </div>
  <br>
  <hr>
  <div class="conatiner">
  <h2>Your Posts</h2>
  </div>
  <br>
<div class="panel-group">
  <% @posts.reverse.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <strong class="col-xs-10"><%= post.content %></strong>
      <small class="col-xs-2"><%= post.created_at.strftime("%B %d, %Y") %></small>
    </div>
  </div>
  <% end %>
</div>
